
body{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: hsl(212, 45%, 89%);
}

img{
    margin: 5% 0;
    height: 90%;
    width: 90%;
    border-radius: 5%;
}

.qr-code{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 18px; 
    margin: 10px 5%;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: hsl(218, 44%, 22%);
}

h2{
    font-size: 15px;
    margin: 0 5% 5% 5%;
    padding: 10px 30px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: hsl(216, 15%, 48%);
}

#main-content{
    margin: 5% 40%;
    border-radius: 5%;
    background-color: white;
}

.attribution{
    display:flex;
    justify-content: center;
    color: hsl(228, 45%, 44%);
    font-size: 11px;
}

@media screen and (width <= 900px) {
    #main-content{
        margin: 40% 5%;
    }
}
